<div class="container">
    <nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#map">Map View</a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 	<ul class="nav navbar-nav navbar-right">
	    	<li><a href="#about">About</a></li>
	    </ul>
	  </div>
	</nav>

	<div class="row">
	  <div class="col-sm-8">
	  	<img id="mapLoadingImg" src="images/ajax-loader2.gif" alt="loading..." height="40px"
        width="40px" style="position:absolute; right: 50%; left: 50%; top: 50%; bottom: 50%;
        z-index: 101;" visibility="hidden" class="img-rounded" />

        <img id="idWorkingImg" src="images/ajax-loader2.gif" alt="loading..." height="40px"
        width="40px" style="position:absolute; right: 50%; left: 50%; top: 50%; bottom: 50%;
        z-index: 101;" visibility="hidden" class="img-rounded" />
        
        <div id="mapContent"></div>

      </div>
	  <div class="col-sm-4">
	  	<div id="otherContent">
	  	  	<div class="panel panel-default">
			  <div class="panel-heading mapPanelHeading">Make A Box<i class="fa fa-globe pull-right"></i></div>
			  <div class="panel-body mapPanelBody">
			    <p>Click on the map and see a box.</p>
			  </div>
			</div>		
	  	</div>

	  	<div id="evenMoreContent">
	  	  	<div class="panel panel-default">
			  <div class="panel-heading mapPanelHeading">Another Panel<i class="fa fa-globe pull-right"></i></div>
			  <div class="panel-body mapPanelBody">
			    <p>More content.</p>
			  </div>
			  <div id="mapReportLinks" class="list-group"></div>
			</div>		
	  	</div>


	  </div>
	</div>       

</div>